@media screen and (max-width: 606px) {

    .nav{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    img{ display: none;}
 .personal-info {
     grid-template-columns: 100%;
 }
.table{
    grid-template-columns: .5fr .5fr;
    grid-template-rows: auto;
    width: 100%;

}
.contact-info {
    grid-template-columns: 100%;
}
}
